.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px
}
.imformation-section-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#logo2{
    width: 400px;
    height: auto;
}
#nickname{
    width: 250px;
    height: 40px;
    margin-top: 1px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid gainsboro;
}
#id{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid gainsboro;
}
#password{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid gainsboro;
}
#checkPassword{
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid gainsboro;
}
.additional-imformation-wrap{
    margin-top: 20px;
}
.location-select{
    margin-right: 10px;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.college-select{
    margin-left: 10px;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
#btnsubmit{
    margin-top: 80px;
    width: 100px;
    height: 40px;
    background-color: rgb(30, 129, 243);
    border-radius: 5px;
    color: white;
}