#header{
    background-color: white;
    display: block;
    position: absolute;
    width: 100%;
    height: 0%;
}
#search{
    position: absolute;
    width: 500px;
    padding-block: 10px;
}
#profileImage{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 10%;
}
#logo{
    width: 100px;
    height: auto;
}
#searchTerm {
    position: absolute;
    width: 15%;
    border: 3px solid gray;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: gray;
    padding-block: 10px;   
}
#searchButton {
    position: absolute;
    margin-left: 15%;
    width: 40px;
    height: 46px;
    border: 1px solid gray;
    background: gray;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;      
} 
#profile{
    position: absolute;
    right: 150px;
    width: 50px;
    height: 50px;     
}
.userName{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;   
}
    
