@font-face {
    font-family: 'BinggraeMelona';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h4{
    color: red;
    font-weight: bold;
}

a{
	text-decoration: none;
	color: black;
}

.mainContainer {
	position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.resultContainer {
    position: relative;
    width: 550px;
    height: 740px;
    margin-top: 30px;
    border: 1px solid gray;
    text-align: center;
}

.txtArea {
	position: relative;
    display: flex;
    flex-direction: row;
    width: 490px;
    height: 160px;
	top:0px;
	left:30px;   
}

.priceArea {
	position: relative;
	font-family: 'BinggraeMelona';
    width: 490px;
    height: 100px;
    top:-125px;
    left: 30px;
    text-align:left;
}

#forSale {
	font-family: 'BinggraeMelona';
	position: absolute;   
    width: 150px;
    height: 35px;
	top: 55px;
    left: 100px;
    border:0px;
    outline: 0px;
    border-radius: 20px;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: #13A085;
}

#sold {
	font-family: 'BinggraeMelona';
	position: absolute;   
    width: 150px;
    height: 35px;
	top: 55px;
    left: 100px;
    border:0px;
    outline: 0px;
    border-radius: 20px;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: red;
}

#image {
	position: relative;
    width: 550px;
    height: 550px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid gray;
}