@font-face {
    font-family: 'BinggraeMelona';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h4{
    color: red;
    font-weight: bold;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    border: 1px solid gray;
    border-radius: 20px 20px 20px 20px;
}

.resultContainer {
    width: 650px;
    height: 450px;
    background-color: rgb(244, 247, 250);
    margin-top: 30px;
    padding: 30px;
}

.txtAreaWrap {
    display: flex;
    flex-direction: row;
    width: 645px;
    height: 175px;
    position: relative;
    top: 50px;
}

.txtArea {
	font-family: 'BinggraeMelona';
    width: 645px;
    height: 50px;
    position: relative;
    top: -90px;
}

#image {	
    width: 50%;
    height: 50%;
    position: relative;
    left: 175px;
    top: 30px;
}

#isSold {
	font-family: 'BinggraeMelona';
    width: 150px;
    height: 35px;
    position: relative;
    left:30px;
    top:18px;
    border:0px;
    outline: 0px;
    border-radius: 20px;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: #13A085;
}
