select {
	font-family: 'BinggraeMelona';
    width: 123px;
    height: 30px;
    margin: 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
body{
	font-family: 'BinggraeMelona';
}
p{
	margin:0;
}
b{
	color: navy;
}
@font-face {
    font-family: 'BinggraeMelona';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.mainContainer {
	font-family: 'BinggraeMelona';
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.resultContainer {
	font-family: 'BinggraeMelona';
    position: absolute;
    top: 225px;
    left: 350px;
    width: 650px;
    height: 100px;
    background-color: rgb(244, 247, 250);
    border: 1px solid gray;
    border-radius: 20px 20px 20px 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.iconWrap {
	font-family: 'BinggraeMelona';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formWrap {
	font-family: 'BinggraeMelona';
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonWrap {
	font-family: 'BinggraeMelona';
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nickNameInput {
	font-family: 'BinggraeMelona';
    width: 250px;
    height: 40px;
    margin: 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

#btnFindID {
	font-family: 'BinggraeMelona';
    position: relative;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: small;
    background-color: #3498DB;
    color: white;
    margin-top: 20px;
}