.background{
    position: absolute;
    background-color: whitesmoke;
    top: 200px;
    left: 300px;
    right: 200px;
    height: 400px;
    width: 900px;
}
.profileImage{
    position: relative;
    top: 100px;
    left: -100px;
    width: 150px;
    height: 150px;
}
.line{
    position: relative;
    width: 150px;
    height: 400px;
    left: 200px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-inline-color: black;
    border-style: solid;
}
.myUserName{
    position: relative;
    top: -350px;
    left: 400px;
    font-size: 30px;
    font-weight: bold;
}
.profileMent{
    position: relative;
    top: -330px;
    left: 400px;
    font-size: 15px;
}
.count{
    position: relative;
    top: -280px;
    left: 400px;
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.showButton{
    position: absolute;
    top: 700px;
    left: 700px;
    width: 200px;
    height: 50px;
    background-color: gray;
    color: white;
}