@font-face {
    font-family: 'BinggraeMelona';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h4{
    color: red;
    font-weight: bold;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;    
    position: relative;
    right: -350px;
    top: 40px;
}

.imageContainer {
	position: absolute;
	top: 67px;
	left: 10px;
    width: 430px;
    height: 450px;
    padding: 30px;
    background-color: white;
    border: 1px solid #DBDBDB;
}

.detailContainer {
	position: absolute;
	top: 67px;
	left: 500px;
    width: 600px;
    height: 510px;
    border: 1px solid #DBDBDB;
    background-color: white;
    overflow: scroll;
}

.txtAreaWrap {
	position: absolute;
    display: flex;
    flex-direction: row;
    width: 645px;
    height: 175px;
    position: relative;
    top: 50px;
}

.sellerProfile{
	position: absolute;
	top: 30px;
	left: 65px;
    width: 40px;
    height: 40px;    
}

.sellerName{
	font-family: 'BinggraeMelona';
    position: absolute;
    top: 20px;
    left: 120px;    
    font-size: 18px;
    font-weight: bold;
}

.productImage{
    position: absolute;
    top: 80px;
    left: 65px;
    width: 75%;
    height: 75%;
    max-width: 700px;
    max-height: 600px;
}

.productName{
	font-family: 'BinggraeMelona';
    position: absolute;    
    top: 0px;
    left: 65px;
    font-size: 30px;
    font-weight: bold;
}

.price{
    font-family: 'BinggraeMelona';
    position: absolute;    
    top: 60px;
    left: 65px;
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.forSale {
	font-family: 'BinggraeMelona';
	position: absolute;   
    width: 150px;
    height: 35px;
	top: 72px;
    left: 150px;
    border:0px;
    outline: 0px;
    border-radius: 20px;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: #13A085;
}

.sold {
	font-family: 'BinggraeMelona';
	position: absolute;   
    width: 150px;
    height: 35px;
	top: 72px;
    left: 150px;
    border:0px;
    outline: 0px;
    border-radius: 20px;
    font-size: medium;
    color:white;
    text-align: center;
    background-color: red;
}

.productExplain{
	font-family: 'BinggraeMelona';
    position: absolute;   
    top: 100px;
    left: 65px;
    width: 85%;
    height: 345px;
	font-size: 18px;
    font-weight: bold;
}

.phoneNumber{
	font-family: 'BinggraeMelona';
    position: absolute;    
    top: 60px;
    left: 325px;
    font-size: 18px;
    font-weight: bold;
}

.buttonWrap{
    position: absolute;   
    text-align: left;
    top: 445px;
    left: 65px;
    width: 85%;
    height: 50px;
}

.btn {	
	font-family: 'BinggraeMelona';
    position: relative;
    top: -35px;
    left: 0px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: small;
    background-color: #3498DB;
    color: white;
}

#image {
	position: relative;
	top: 50px;
	left: 30px;
    width:  400px;
    height:  400px;
}