.box{
	 width: 100%;
	 text-align: center;
}

.background{
	display: inline-block;    
    height: 400px;
    width: 900px;
    position: relative;
    top: 300px;
    border: 1px solid #DBDBDB;
}
.profileImage{
    position: relative;
    top: 100px;
    left: -100px;
    width: 150px;
    height: 150px;
}

.content{
	 position: relative;
	 right: 220px;
}

.line{
    position: relative;
    width: 150px;
    height: 400px;
    left: 200px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-color: #DBDBDB;
    border-style: solid;
}
.myUserName{
    position: relative;
    top: -350px;
    left: 400px;
    font-size: 30px;
    font-weight: bold;
}
.profileMent{
    position: relative;
    top: -330px;
    left: 400px;
    font-size: 15px;
}
.count{
    position: relative;
    top: -280px;
    left: 400px;
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.buttonLocation{
	position: relative;
	top:400px;
	right: 0px;
}

.showButton{
	position: relative;
    width: 200px;
    height: 50px;
    background-color: #13A085;
    color: white;
    border: 0;
}

#logOutButton{
	position: relative;
    width: 200px;
    height: 50px;
    background-color: #13A085;
    color: white;
    border: 0;
}